<!-- Title : FLIGHT BOOKING
Author : TAMILARASAN M
Created At : 24-05-2024
Last Modified Date : 08-07-2024
Reviewed By :
Review Date : -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="/static/img/3.png">
    <title>e-Ticket</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
        @page {
            margin: 37px 50px;
        }
        * {
            padding: 0;
            margin: 0;
            font-family: "Poppins", sans-serif;
        }
        body {
            padding: 7% 7%;
        }
        nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .logo {
            display: flex;
            align-items: center;
        }
        .header {
            text-align: right;
            font-size: 2em;
            font-weight: 600;
        }
        li {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .col {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }
        table {
            margin-top: 0;
            width: 100%;
            border-collapse: collapse;
        }
        .table {
            margin-top: 25px;
        }
        th, td {
            text-align: left;
            padding: 5px 15px;
        }
        caption {
            text-align: left;
            background-color: #a9a9a9;
            color: white;
            padding: 8px 15px;
            font-weight: bold;
        }
        .tr-caption {
            text-align: left;
            background-color: #a9a9a9;
            color: white;
            padding: 8px 15px;
            font-weight: bold;
            width: 100%;
            font-size: 1.4em;
        }
        .tr-even {
            background-color: #f0f0f0;
        }
        .tr-odd {
            background-color: white;
        }
    </style>
</head>
<body>
    <nav>
        <div class="col logo" style="width: 50%;">
            
            <span style="color: rgb(22, 37, 202); font-weight: bold; font-size: 2.5em; margin-left: 10px;">FLIGHT BOOKING</span>
        </div>
        <div class="col header" style="width: 50%;">
            <span style="margin: auto 0 auto auto;">E-Ticket</span>
        </div>
    </nav>
    <hr style="height: 1px; border: 0; background-color: grey;" noshade>
    <main style="padding: 10px;">
    <div style="margin: 15px auto;">
        <h3>Important information</h3>
        <ul style="padding-left: 50px;">
            <li>
                This is your E-Ticket Itinerary. You must bring it to the airport for check-in, and it is recommended you retain a copy for your records.
            </li>
            <li>
                Each passenger traveling needs a printed copy of this document for immigration, customs, airport security checks, and duty-free purchases.
            </li>
            <li>
                Economy Class passengers should report to airline check-in desks 3 hours prior to departure of all flights. First and Business Class passengers should report to airline check-in desks no later than 1 hour prior to departure. Boarding for your flight begins at least 35 minutes before your scheduled departure time. Gates close 15 minutes prior to departure.
            </li>
        </ul>
    </div>
    <div class="table-div">
        {{#each rows}}

        <table class="table">
            <tr class="tr-caption">
                <td colspan="4">TICKET INFORMATION</td>
            </tr>
            <tr class="tr-even">
                <th>TICKET REFERENCE</th>
                <td>ABC123</td>
                <th>BOOKING DATE & TIME</th>
                <td>15 MAY 24<br>1430</td>
            </tr>
            <tr class="tr-odd">
                <th>FLIGHT DATE</th>
                <td>{{this.DEPARTUREDATE}}</td>
                <th>CLASS</th>
                <td>{{this.CLASS}}</td>
            </tr>
            <tr class="tr-even">
                <th>EMAIL</th>
                <td>{{this.EMAIL}}</td>
                <th>MOBILE</th>
                <td>{{this.PHONENUMBER}}</td>
            </tr>
            <tr class="tr-odd">
                <th>STATUS</th>
                <td colspan="3">CONFIRMED</td>
            </tr>
            <tr class="tr-even">
                <th colspan="4">PASSENGER INFORMATION</th>
            </tr>
            <tr class="tr-odd">
                <th>S NO.</th>
                <th>PASSENGER NAME</th>
                <th>SEX</th>
                <th>CLASS</th>
            </tr>
            <tr class="tr-even">
                <td>{{this.ID}}</td>
                <td>{{this.FULLNAME}}</td>
                <td>{{this.GENDER}}</td>
                <td>{{this.CLASS}}</td>
            </tr>
            <tr class="tr-even">
                <th colspan="4">FLIGHT INFORMATION</th>
            </tr>
            <tr class="tr-odd">
                <th>FLIGHT</th>
                <th>DEPART/ARRIVE</th>
                <th>AIRPORT/TERMINAL</th>
                <th></th>
            </tr>
            <tr class="tr-even">
                <td>AIR INDIA</td>
                <td>{{this.DEPARTUREDATE}} - {{this.RETURNDATE}}</td>
                <td>JFK AIRPORT (JFK) - LAX AIRPORT (LAX)</td>
                <td></td>
            </tr>
            {{!-- <tr class="tr-odd">
                <th colspan="4">FARE DETAILS</th>
            </tr> --}}
            {{!-- <tr class="tr-even">
                <th>FARE</th>
                <td>{{this.CARDNUMBER}}</td>
                <th>CHARGES</th>
                <td>{{this.CARDHOLDER}}</td>
            </tr> --}}
            {{!-- <tr class="tr-odd">
                <th>DISCOUNT</th>
                <td colspan="3">Rs. (-) 200</td>
            </tr>
            <tr class="tr-even">
                <th>TOTAL</th>
                <td colspan="3">Rs. 5300</td>
            </tr> --}}
        </table>
        {{/each}}
    </div>
</main>

    <p style="margin: 10px 0; font-size: .8em;">&#169; 2024 Night Fury Flight Inc. All rights reserved.</p>
</body>
</html>
